//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
  font-family: Lato;
  font-weight: 500;
  display: inline-block;
  line-height: math.div(22, 18);
  padding: rem(21) rem(25);
  background-color: #23b123;
  border-radius: rem(10);
  height: 64px;
  @media (any-hover: hover) {
    &:hover {
    }
  }
  &._fw {
    width: 100%;
  }
}
