// Заголовки, общие БЄМ блоки и проче...
.page {
  // .page__main
  &__main {
  }
  // .page__partners
  &__partners {
  }
}
//========================================================================================================================================================

.title {
  font-weight: 600;
  font-size: rem(70);
  line-height: math.div(65, 70);
  color: #ffffff;
  @include adaptiveValue("font-size", 70, 45);
  &_s64 {
    @include adaptiveValue("font-size", 64, 40);
  }
  span {
    color: $accentColor;
  }
}
//========================================================================================================================================================
.text {
  line-height: 180%;
}
//========================================================================================================================================================
