// Заголовки, общие БЄМ блоки и проче...
.page {
  // .page__main
  &__main {
  }
}
//========================================================================================================================================================

.title {
  font-weight: 700;
  font-size: rem(70);
  line-height: math.div(78, 70);
  color: #ffffff;
  span {
    color: $accentColor;
  }
}
//========================================================================================================================================================

.form {
  // .form__input
  &__input {
  }
  // .form__button
  &__button {
  }
}
